<template>
  <div class="row section">
    <Navbar />

    <div class="view">
      <Header title="Справка фин.состояния" :is-link="true" />

      <div class="view-body">
        <div class="doc">
          <div class="title">
            Соберите справку фин.&nbsp;состояния в 3 этапа
          </div>
          <div class="text">
            <p>Справка необходима при получении кредита в «Россельхозбанке»</p>
            <p>По окончанию заполнения анкеты вы получите «PDF файл».</p>
          </div>

          <form class="main-form" @submit.prevent="submit">
            <div style="position: relative; margin: 0 -10px">
              <Input
                label="ИНН"
                v-model="form.inn"
                :mask="'#### #### ####'"
                class="full"
                placeholder="0000 0000 0000"
              />
              <Popover v-if="showPopup" />
            </div>
            <div style="margin: 0 -10px">
              <div class="label">
                <span class="label-title">Отрасль</span>
                <div class="select">
                  <v-select
                    v-model="form.branch"
                    :clearable="false"
                    :searchable="false"
                    :options="options"
                    :getOptionLabel="(option) => option.name"
                  >
                    <template #open-indicator="{ attributes }">
                      <span v-bind="attributes">
                        <base-icon width="16" height="16" viewBox="0 0 16 16">
                          <icon-select-arrow />
                        </base-icon>
                      </span>
                    </template>
                  </v-select>
                </div>
              </div>
            </div>
            <label class="align-top check">
              <input type="checkbox" v-model="form.accepted" />
              <span class="align-center check-box"></span>
              <span class="check-text">
                Принимаю
                <a href="#" target="_blank">пользовательское соглашение</a> и
                согласен с правилами использования и обработки персональных
                данных
              </span>
            </label>
            <button class="btn full" :disabled="!form.accepted">
              Заполнить анкету
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Header from "../components/Header";
import Input from "../components/Input";
import Popover from "../components/Popover";
import BaseIcon from "../components/BaseIcon";
import IconSelectArrow from "../components/icons/IconSelectArrow";

export default {
  components: {
    Navbar,
    Header,
    Input,
    Popover,
    BaseIcon,
    IconSelectArrow,
  },
  data() {
    return {
      form: {
        inn: "",
        branch: {},
        accepted: false,
      },
      options: [
        {
          value: 0,
          name: "Не выбрано",
        },
        {
          value: 1,
          name: "Отрасль 1",
        },
      ],
      showPopup: false,
    };
  },
  mounted() {
    [this.form.branch] = this.options;
  },
  watch: {
    "form.inn": {
      handler(n) {
        this.showPopup = n.length === 14;
      },
    },
  },
};
</script>
