<template>
  <div class="row section">
    <Navbar />

    <div class="view">
      <Header title="Документы" />

      <div class="view-body" v-on-clickaway="hideCreate">
        <div class="documents-create">
          <button class="btn btn-gray full" @click="toggleCreate">
            + Создать документ
          </button>

          <div class="popover" v-if="create">
            <router-link to="/documents/1" class="link">
              Справка фин.состояния
            </router-link>
            <router-link to="/documents/2" class="link">
              Книга учета доходов и расходов
            </router-link>
            <router-link to="/documents/3" class="link">
              Бизнес-план
            </router-link>
            <router-link to="/documents/4" class="link">
              Финансовая модель
            </router-link>
          </div>
        </div>

        <div class="documents">
          <documents-table />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive as onClickaway } from "vue-clickaway";
import Navbar from "../components/Navbar";
import Header from "../components/Header";
import documentsTable from "../components/documents/documentsTable";
export default {
  components: { Navbar, Header, documentsTable },
  directives: {
    onClickaway: onClickaway,
  },
  data() {
    return {
      create: false,
    };
  },
  methods: {
    toggleCreate() {
      this.create = !this.create;
    },
    hideCreate() {
      this.create = false;
    },
  },
};
</script>
