<template>
  <div class="row section">
    <Navbar />

    <div class="view">
      <Header title="Главная" />

      <div class="align-top view-body">
        <div class="view-main"></div>
        <alerts />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Header from "../components/Header";
import Alerts from "../components/Alerts";

export default {
  components: { Navbar, Header, Alerts },
};
</script>
