<template>
  <div class="auth">
    <div class="wrapper">
      <div class="auth-wrap">
        <div class="row auth-header">
          <logo />
        </div>

        <div class="auth-center">
          <div class="auth-title">
            <h3>Вход</h3>
          </div>
          <form class="auth-form">
            <Input
              label="Электронная почта"
              v-model="email"
              placeholder="ivan.ivanov@gmail.com"
            />
            <Input
              type="password"
              label="Пароль"
              v-model="password"
              placeholder="• • • • • • • •"
            />

            <div class="auth-form-row row">
              <label class="align-top check">
                <input type="checkbox" v-model="save" />
                <span class="align-center check-box"></span>
                <span class="check-text"> Запомнить меня </span>
              </label>
              <router-link to="/recover" class="auth-form-link">
                Забыли пароль?
              </router-link>
            </div>

            <button class="btn">Войти</button>

            <div class="row auth-reg">
              <span>Ещё нет аккаутна?</span>
              <router-link to="/register">Зарегистрироваться</router-link>
            </div>
          </form>
        </div>

        <div class="auth-bottom">© Все права защищены – Агроцифра</div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "../components/Logo";
import Input from "../components/Input";
export default {
  components: {
    Logo,
    Input,
  },
  data() {
    return {
      email: "",
      password: "",
      save: false,
    };
  },
};
</script>
