<template>
  <div class="auth">
    <div class="wrapper">
      <div class="auth-wrap">
        <div class="row auth-header">
          <logo />
        </div>

        <!-- Блок с восстановлением -->
        <div v-if="!success" class="auth-center">
          <div class="auth-title">
            <router-link to="/login" class="align-center auth-back">
              <base-icon width="16" height="16" view-box="0 0 32 32">
                <icon-stroked-arrow />
              </base-icon>
              <span>Войти в аккаунт</span>
            </router-link>
            <h3>Восстановление пароля</h3>
            <p>Введите эл. почту, на которую зарегистрирован аккаунт</p>
          </div>
          <form class="auth-form" @submit.prevent="recover">
            <Input
              label="Электронная почта"
              v-model="email"
              placeholder="ivan.ivanov@gmail.com"
            />

            <button class="btn">Отправить</button>
          </form>
        </div>

        <!-- Блок успешного восстановления -->
        <div v-else class="auth-center">
          <div class="auth-success">
            <base-icon width="48" height="48" view-box="0 0 48 48">
              <icon-mail />
            </base-icon>
            <div class="auth-text">
              На вашу эл.почту выслано письмо с инструкциями для восстановления
              пароля
            </div>
            <button class="btn btn-gray">Хорошо</button>
          </div>
        </div>

        <div class="auth-bottom">© Все права защищены – Агроцифра</div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "../components/Logo";
import Input from "../components/Input";
import BaseIcon from "../components/BaseIcon";
import IconStrokedArrow from "../components/icons/IconStrokedArrow";
import IconMail from "../components/icons/IconMail";

export default {
  components: {
    Logo,
    Input,
    BaseIcon,
    IconStrokedArrow,
    IconMail,
  },
  data() {
    return {
      email: "",
      success: false,
    };
  },
  methods: {
    recover() {
      this.success = true;
    },
  },
};
</script>
