<template>
  <div class="auth">
    <div class="wrapper">
      <div class="auth-wrap">
        <div class="row auth-header">
          <logo />
        </div>

        <div class="auth-center">
          <div class="auth-title">
            <router-link to="/login" class="align-center auth-back">
              <base-icon width="16" height="16" view-box="0 0 32 32">
                <icon-stroked-arrow />
              </base-icon>
              <span>Войти в аккаунт</span>
            </router-link>
            <h3>Регистрация</h3>
          </div>
          <form class="auth-form">
            <Input
              label="Электронная почта"
              v-model="email"
              placeholder="ivan.ivanov@gmail.com"
            />
            <Input
              type="password"
              label="Придумайте пароль"
              v-model="password"
              placeholder="• • • • • • • •"
            />
            <Input
              type="password"
              label="Повторите пароль"
              v-model="repeatPassword"
              placeholder="• • • • • • • •"
            />

            <div class="auth-rules">
              <div
                class="align-top auth-rule"
                v-for="(rule, idx) in rules"
                :key="idx"
              >
                <base-icon width="20" height="20" view-box="0 0 20 20">
                  <icon-check />
                </base-icon>
                <span>{{ rule.text }}</span>
              </div>
            </div>

            <button class="btn">Зарегистрироваться</button>

            <div class="auth-politic">
              Создавая аккаунт, вы соглашаетесь с нашими
              <a href="#">Правилами и условиями</a> и
              <a href="#">Политикой конфиденциальности</a>
            </div>
          </form>
        </div>

        <div class="auth-bottom">© Все права защищены – Агроцифра</div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "../components/Logo";
import Input from "../components/Input";
import BaseIcon from "../components/BaseIcon";
import IconStrokedArrow from "../components/icons/IconStrokedArrow";
import IconCheck from "../components/icons/IconCheck";

export default {
  components: {
    Logo,
    Input,
    BaseIcon,
    IconStrokedArrow,
    IconCheck,
  },
  data() {
    return {
      email: "",
      password: "",
      repeatPassword: "",
      save: false,
    };
  },
  computed: {
    rules() {
      return [
        { text: "Быть не короче 6 символов" },
        { text: "Состоять из букв и цифр" },
        { text: "Содержать минимум одну строчную и заглавную букву" },
      ];
    },
  },
};
</script>
