<template>
  <div class="row section">
    <Navbar />
    <div class="view">
      <Header title="Справка фин.состояния" :is-link="true" />

      <bread-crumbs
        :active-page="activePage"
        :steps="steps"
        @changeStep="changePage"
      />

      <step-one v-if="activePage === 1" />
      <step-two v-else-if="activePage === 2" />
      <step-three v-else-if="activePage === 3" />

      <Pagination :activePage="activePage" @changePage="changePage" />

      <div class="auth-bottom">© Все права защищены – Агроцифра</div>

      <save-modal ref="save">
        <template v-slot:buttons>
          <div class="modal-buttons">
            <button class="btn">Сохранить</button>
            <a :href="nextPath" class="btn btn-gray"> Нет, спасибо </a>
          </div>
        </template>
      </save-modal>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Header from "../components/Header";
import BreadCrumbs from "../components/BreadCrumbs";
import Pagination from "../components/Pagination";
import StepOne from "../components/steps/StepOne";
import StepTwo from "../components/steps/StepTwo";
import StepThree from "../components/steps/StepThree";
import SaveModal from "../components/SaveModal";

export default {
  components: {
    Navbar,
    Header,
    BreadCrumbs,
    StepOne,
    StepTwo,
    StepThree,
    Pagination,
    SaveModal,
  },
  data() {
    return {
      activePage: 1,
      leave: true,
      nextPath: "",
      form: {
        change: "",
      },
    };
  },
  computed: {
    steps() {
      return [
        { id: 1, text: "Расшифровка статей баланса" },
        { id: 2, text: "Отчет о прибылях и убытках" },
        { id: 3, text: "Сведения" },
      ];
    },
  },
  methods: {
    changePage(num) {
      this.activePage = num;
      this.form.change = num; // Просто проверка ухода со станицы. Потом УДАЛИТЬ
    },
    closeModal() {
      this.$refs.save.closeModal();
    },
  },
  mounted() {
    this.$watch(
      "form",
      function () {
        this.leave = false;
      },
      { deep: true }
    ); // При загрузке вотчим объект формы, при любом изменении, меняем переменную, чтобы при выходе со страницы появлялась модальное окно, возможно понадобится $nextTick.
  },
  beforeRouteLeave(to, from, next) {
    if (!this.leave) {
      this.$refs.save.openModal();
      this.nextPath = to.path;
    } else {
      next();
    }
  },
};
</script>
