<template>
  <div class="page">
    <h2 class="page-title">Сведения</h2>

    <Table
      title="1. Сведения о кредитах, займах заемщика и предоставленных поручительств на текущую дату. По индивидуальным предпринимателям дополнительно включается информация обо всех кредитах, займах, полученных индивидуальным предпринимателем как физическим лицом на цели, не связанные с осуществлением им предпринимательской деятельности."
      :headers="firstHeaders"
      :show-nums="false"
    />

    <div class="row tables">
      <Table
        title="Сумма основного долга"
        :headers="secondHeaders"
        :show-nums="false"
      />
      <Table
        title="Кол-во случаев просроченных платежей по основному долгу и/или процентам"
        :headers="thirdHeaders"
        :show-nums="false"
      />
    </div>

    <div class="page-section">
      <h3 class="page-subtitle">
        2. Сведения о полученных гарантиях, лизинговом портфеле, открытых
        аккредитивах, факторинговом портфеле.
      </h3>

      <h3 class="page-subtitle" style="margin-top: 32px">
        Полученные гарантии:
      </h3>

      <div class="align-bottom inputs wrap" style="margin-top: 24px">
        <Input label="Банк - гарант" class="three" />
        <Input label="Дата предст-ния" class="three" />
        <Input
          label="Обеспечение, предоставленное Клиентом по договору о предоставлении гарантии"
          class="three"
        />
        <Input label="Принципал по гарантии" class="three" />
        <Input label="Дата истечения срока гарантии" class="three" />
        <Input label="Ставка комиссии" class="three" />
        <Input label="Бенефи циар по гарантии" class="three" />
        <Input
          label="Описание обязательства, обеспеченного гарантией"
          class="three"
        />
        <Input label="Сумма гарантии, руб" class="three" />
      </div>

      <h3 class="page-subtitle" style="margin-top: 32px">
        Лизинговый портфель:
        <span>
          Если контрагентом предъявлено требование по обязательствам, указать
          информацию о предъявленном требовании.
        </span>
      </h3>

      <div class="align-bottom inputs wrap" style="margin-top: 24px">
        <Input label="Наименование участника" class="three" />
        <Input label="Сумма по договору, тыс.руб." class="three" />
        <Input label="Дата заключения договора" class="three" />
        <Input label="Лизингодатель" class="three" />
        <Input
          label="Сумма задолженности на текущую дату, тыс.руб."
          class="three"
        />
        <Input label="Дата окончания договора" class="three" />
        <Input label="Предмет договора" class="three" />
        <Input label="Валюта договора" class="three" />
      </div>

      <h3 class="page-subtitle" style="margin-top: 32px">
        Открытые аккредитивы:
        <span>
          Если контрагентом предъявлено требование по обязательствам, указать
          информацию о предъявленном требовании.
        </span>
      </h3>

      <div class="align-bottom inputs wrap" style="margin-top: 24px">
        <Input label="Наименование участника (Клиент)" class="three" />
        <Input label="Бенефи циар" class="three" />
        <Input label="Валюта аккредитива" class="three" />
        <Input label="Банк-эмитент" class="three" />
        <Input label="Вид аккре дитива" class="three" />
        <Input label="Сумма аккре дитива" class="three" />
        <Input label="Банк-исполнитель" class="three" />
        <Input label="Порядок формирования покрытия *" class="three" />
        <Input label="Дата и место истечения срока аккредитива" class="three" />
        <Input label="Товар/ услуги **" class="full" />
      </div>

      <div class="variants">
        <div class="variant">
          <span>☆</span> – Варианты: сформировано за счет средств клиента;
          сформировано за счет кредитных средств &lt; название банка &gt;,
          предоставляемых по кредитному договору/договору об открытии кредитной
          линии № _______ от ____________; сумма платежа списывается с р/счета
          клиента в дату открытия аккредитива; покрытие списывается с р/счета
          клиента &lt; указываются сроки списания покрытия в зависимости от
          условий аккредитива &gt;
        </div>
        <div class="variant">
          <span>☆☆ </span> – Краткое описание, номер контракта, условия
          поставки.
        </div>
      </div>

      <Table
        title="Договоры факторинга: Если контрагентом предъявлено требование по обязательствам, указать информацию о предъявленном требовании."
        :headers="fourthHeaders"
        :show-nums="false"
        button-title="+ Добавить договор"
      />

      <div class="page-section">
        <h3 class="page-subtitle">
          3. Сведения об оборотах денежных средств
          <span> (за последний отчетный квартал помесячно)</span>
        </h3>

        <table>
          <thead>
            <tr>
              <th class="month">Месяц</th>
              <th
                v-for="(head, index) in fifthHeaders"
                :key="index"
                :style="{ width: head.width + 'px' }"
              >
                <span>{{ head.title }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, idx) in fifthBody" :key="idx">
              <td class="month">{{ row.title }}</td>
              <td
                v-for="(td, index) in fifthHeaders"
                :key="index"
                :style="{ width: td.width + 'px' }"
              >
                <input type="text" :placeholder="td.placeholder" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <Table
        title="4. Сведения о наличии просроченной дебиторской и кредиторской задолженности, просроченной задолженности перед работниками по заработной плате, налогов, просроченных собственных векселей и иных просроченных обязательствах перед третьими лицами:"
        :headers="sixthHeaders"
        button-title="+ Добавить сведение"
      />

      <div class="checks">
        <label class="align-top check">
          <input type="checkbox" v-model="accepted_one" />
          <span class="align-center check-box"></span>
          <span class="check-text">
            Все сведения, содержащиеся в настоящей справке о финансовом
            состоянии заемщика, достоверны на дату ее представления в АО
            «Россельхозбанк». Заемщик обязуется незамедлительно уведомить АО
            «Россельхозбанк» в случае изменения данных сведений, а также о любых
            обстоятельствах, способных повлиять на выполнение Заемщиком
            обязательств по кредиту;
          </span>
        </label>

        <label class="align-top check">
          <input type="checkbox" v-model="accepted_two" />
          <span class="align-center check-box"></span>
          <span class="check-text">
            Заемщик предупрежден об ответственности, предусмотренной
            законодательством, за предоставление АО «Россельхозбанк»
            недостоверных сведений, в том числе сведений об имеющихся
            обязательствах перед третьими лицами.
          </span>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import Table from "../Table";
import Input from "../Input";
import { STEP_THREE } from "../../constants/pages";

export default {
  components: { Table, Input },
  data() {
    return {
      firstHeaders: STEP_THREE.firstHeaders,
      secondHeaders: STEP_THREE.secondHeaders,
      thirdHeaders: STEP_THREE.thirdHeaders,
      fourthHeaders: STEP_THREE.fourthHeaders,
      fifthHeaders: STEP_THREE.fifthHeaders,
      fifthBody: STEP_THREE.fifthBody,
      sixthHeaders: STEP_THREE.sixthHeaders,
      accepted_one: false,
      accepted_two: false,
    };
  },
};
</script>
