<template>
  <div class="page">
    <h2 class="page-title">Расшифровка статей упрощенного баланса</h2>
    <Table
      title="1. Земельные участки"
      :headers="firstHeaders"
      button-title="+ Добавить участок"
    />
    <Table
      title="2. Здания и сооружения"
      :headers="secondHeaders"
      button-title="+ Добавить сооружение"
    />
    <Table
      title="3. Прочие основные средства"
      :headers="thirdHeaders"
      button-title="+ Добавить средство"
    />
    <Table
      title="4. Расшифровка готовой продукции, запасов и прочих оборотных активов"
      :headers="fourthHeaders"
      button-title="+ Добавить продукцию, запас"
    />
    <Table
      title="5. Расшифровка дебиторской задолженности"
      :headers="fifthHeaders"
      button-title="+ Добавить задолженность"
    />
    <Table
      title="6. Расшифровка кредиторской задолженности"
      :headers="fifthHeaders"
      button-title="+ Добавить задолженность"
    />

    <div class="page-section">
      <h3 class="page-subtitle">
        7. Расшифровка долгосрочных кредитов и займов.
        <span>
          В том числе просроченная задолженность, с приложением справки с
          указанием причин наличия просроченной задолженности.
        </span>
      </h3>

      <div class="align-top page-row">
        <div class="page-column">
          <div class="align-top page-inputs">
            <Input
              class="full"
              label="Кредитор/ Займодавец"
              placeholder="Иванов Иван Иванович"
            />
            <Input
              class="half"
              label="Дата получения"
              v-model="text"
              :mask="'##.##.####'"
              placeholder="00.00.0000"
            />
            <Input
              class="half"
              label="Дата погашения"
              v-model="text"
              :mask="'##.##.####'"
              placeholder="00.00.0000"
            />
            <file-loader />
            <div class="text">
              Кредит, кредитная линия с лимитом задолженности, кредитная линия с
              лимитом выдачи, кредитная линия с лимитом задолженности и лимитом
              выдачи, кредит в форме «овердрафт»
            </div>
          </div>
        </div>
        <div class="page-column">
          <div class="align-top page-inputs">
            <Input
              class="full"
              label="Сумма по договору (тыс. руб)"
              placeholder="0 ₽"
            />
            <Textarea class="full" label="Цель кредита" />
            <Input
              class="full"
              label="Обеспечение с указанием залогодателя и стоимости обеспечения"
            />
          </div>
        </div>
        <div class="page-column">
          <div class="align-top page-inputs">
            <Input class="half" label="% ставка" />
            <Input class="half" label="Кол-во пролонгаций" />
            <Input
              class="full"
              label="Сумма задолжен-ности на последнюю отчетную дату (тыс. руб.)"
              placeholder="0 ₽"
            />
            <Input
              class="full"
              label="Сумма задолжен-ности на текущую дату (тыс. руб.)"
              placeholder="0 ₽"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-subtitle">
        8. Расшифровка краткосрочных кредитов и займов.
        <span>
          С приложением справки с указанием причин наличия просроченной
          задолженности.
        </span>
      </h3>

      <div class="align-top page-row">
        <div class="page-column">
          <div class="align-top page-inputs">
            <Input
              class="full"
              label="Кредитор/ Займодавец"
              placeholder="Иванов Иван Иванович"
            />
            <Input
              class="half"
              label="Дата получения"
              v-model="text"
              :mask="'##.##.####'"
              placeholder="00.00.0000"
            />
            <Input
              class="half"
              label="Дата погашения"
              v-model="text"
              :mask="'##.##.####'"
              placeholder="00.00.0000"
            />
            <file-loader />
            <div class="text">
              Кредит, кредитная линия с лимитом задолженности, кредитная линия с
              лимитом выдачи, кредитная линия с лимитом задолженности и лимитом
              выдачи, кредит в форме «овердрафт»
            </div>
          </div>
        </div>
        <div class="page-column">
          <div class="align-top page-inputs">
            <Input
              class="full"
              label="Сумма по договору (тыс. руб)"
              placeholder="0 ₽"
            />
            <Textarea class="full" label="Цель кредита" />
            <Input
              class="full"
              label="Обеспечение с указанием залогодателя и стоимости обеспечения"
            />
          </div>
        </div>
        <div class="page-column">
          <div class="align-top page-inputs">
            <Input class="half" label="% ставка" />
            <Input class="half" label="Кол-во пролонгаций" />
            <Input
              class="full"
              label="Сумма задолжен-ности на последнюю отчетную дату (тыс. руб.)"
              placeholder="0 ₽"
            />
            <Input
              class="full"
              label="Сумма задолжен-ности на текущую дату (тыс. руб.)"
              placeholder="0 ₽"
            />
          </div>
        </div>
      </div>
    </div>

    <Table
      title="9. Расшифровка финансовых вложений"
      :headers="ninthHeaders"
      button-title="+ Добавить фин. вложение"
      :result="true"
    />
  </div>
</template>

<script>
import Table from "../Table";
import { STEP_ONE } from "../../constants/pages";
import Input from "../Input";
import Textarea from "../Textarea";
import FileLoader from "../FileLoader";
export default {
  components: { Table, Input, Textarea, FileLoader },
  data() {
    return {
      firstHeaders: STEP_ONE.firstHeaders,
      secondHeaders: STEP_ONE.firstHeaders,
      thirdHeaders: STEP_ONE.thirdHeaders,
      fourthHeaders: STEP_ONE.fourthHeaders,
      fifthHeaders: STEP_ONE.fifthHeaders,
      ninthHeaders: STEP_ONE.ninthHeaders,
      text: "",
    };
  },
};
</script>
