<template>
  <div class="page">
    <h2 class="page-title">Отчет о прибылях и убытках</h2>
    <Table
      title="1. Доходы от животноводства/птицеводства (за последний отчетный квартал)"
      :headers="firstHeaders"
      button-title="+ Добавить источник дохода"
    />
    <Table
      title="2. Расходы по животноводству/птицеводству (за последний отчетный квартал)"
      :headers="secondHeaders"
      button-title="+ Добавить источник расхода"
    />
    <Table
      title="3. Доходы от прочих видов деятельности (за последний отчетный квартал)"
      :headers="thirdHeaders"
      button-title="+ Добавить источник дохода"
    />
    <Table
      title="4. Расходы от прочих видов деятельности (за последний отчетный квартал)"
      :headers="secondHeaders"
      button-title="+ Добавить статью расхода"
    />
    <Table
      title="5. Постоянные расходы (за последний отчетный квартал)"
      :headers="secondHeaders"
      button-title="+ Добавить статью расхода"
    />

    <div class="page-section">
      <h3 class="page-subtitle">
        6. Иные доходы/расходы (за последний отчетный квартал) в рублях
      </h3>
      <div class="align-top page-row">
        <div class="page-column page-half">
          <h3>Доход</h3>
          <Input label="Заработная плата" class="full" placeholder="0 ₽" />
          <Input label="Пенсия" class="full" placeholder="0 ₽" />
          <Input label="Стипендия" class="full" placeholder="0 ₽" />
          <Input
            label="Прочие социальные выплаты"
            class="full"
            placeholder="0 ₽"
          />
          <Input label="Алименты" class="full" placeholder="0 ₽" />
          <Input label="Прочие доходы" class="full" placeholder="0 ₽" />
          <div class="align-center">
            <div class="page-left">Итого:</div>
            <div class="page-right">0 Руб.</div>
          </div>
        </div>
        <div class="page-column page-half">
          <h3>Доход</h3>
          <Input label="Плата за обучение" class="full" placeholder="0 ₽" />
          <Input label="Страховые выплаты" class="full" placeholder="0 ₽" />
          <Input
            label="Удержания по решению суда"
            class="full"
            placeholder="0 ₽"
          />
          <Input label="Алименты" class="full" placeholder="0 ₽" />
          <Input label="Дивиденды" class="full" placeholder="0 ₽" />
          <Input
            label="Изъято на личные нужды"
            class="full"
            placeholder="0 ₽"
          />
          <div class="align-center">
            <div class="page-left">Итого:</div>
            <div class="page-right">0 Руб.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Table from "../Table";
import { STEP_TWO } from "../../constants/pages";
import Input from "../Input";

export default {
  components: { Table, Input },
  data() {
    return {
      firstHeaders: STEP_TWO.firstHeaders,
      secondHeaders: STEP_TWO.secondHeaders,
      thirdHeaders: STEP_TWO.thirdHeaders,
    };
  },
};
</script>
