<template>
  <div class="alert">
    <div class="alert-title">
      {{ alert.title }}
    </div>
    <div class="alert-date">{{ alert.date }}</div>
  </div>
</template>

<script>
export default {
  props: {
    alert: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>
