<template>
  <div class="alerts">
    <div class="align-center alerts-head">
      <base-icon width="18" height="18" view-box="0 0 18 18">
        <icon-alert />
      </base-icon>
      <h3>Уведомления</h3>
    </div>
    <div class="alerts-items">
      <alert v-for="(alert, index) in alerts" :key="index" :alert="alert" />
    </div>
  </div>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconAlert from "./icons/IconAlert";
import Alert from "./Alert";
export default {
  components: { BaseIcon, IconAlert, Alert },
  computed: {
    alerts() {
      return [
        {
          title: "Вам одобрили в документе #62135 «Справка фин.состояния»",
          date: "16:23 · 6 мая 2021",
        },
        {
          title: "Вам отказано в документе #62135 «Справка фин.состояния»",
          date: "9:49 · 4 мая 2021",
        },
        {
          title: "Добро пожаловать в сервис «Агроцифра»",
          date: "13:33 · 28 апреля 2021",
        },
      ];
    },
  },
};
</script>
