<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
    :viewBox="viewBox"
    role="presentation"
    class="svg-icon"
  >
    <g>
      <slot />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [String, Number],
      default: 24,
    },
    height: {
      type: [String, Number],
      default: 24,
    },
    viewBox: {
      type: String,
      default: "0 0 24 24",
    },
  },
};
</script>
