<template>
  <div class="row bread">
    <div class="align-center bread-links wrap">
      <div
        class="align-center bread-link"
        v-for="step in steps"
        :key="step.id"
        :class="{
          active: step.id === activePage,
        }"
        @click="change(step.id)"
      >
        {{ step.text }}
      </div>
    </div>

    <button class="save">Сохранить</button>
  </div>
</template>

<script>
export default {
  props: {
    steps: {
      type: Array,
      default() {
        return [];
      },
    },
    activePage: {
      type: [String, Number],
      default: 1,
    },
  },
  methods: {
    change(id) {
      this.$emit("changeStep", id);
    },
  },
};
</script>
