<template>
  <label class="file">
    <span class="label-title">Форма предоставления кредита</span>
    <input type="file" @change="upload" />
    <span class="align-center file-custom">
      <base-icon width="20" height="20" viewBox="0 0 20 20">
        <icon-file />
      </base-icon>
      <span>Прикрепить файл</span>
    </span>
    <span class="align-center file-name" v-if="file">
      <span>{{ file.name }}</span>
      <span>{{ (file.size / 1024).toFixed(1) + "KB" }}</span>
    </span>
  </label>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconFile from "./icons/IconFile";
export default {
  components: { BaseIcon, IconFile },
  data() {
    return {
      file: null,
    };
  },
  methods: {
    upload(event) {
      [this.file] = event.target.files;
    },
  },
};
</script>
