<template>
  <footer class="footer">
    <div class="wrapper">
      <div class="copy">© Все права защищены – Агроцифра</div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>
