<template>
  <div class="align-center view-head">
    <router-link v-if="isLink" to="/documents" class="row view-title">
      <base-icon width="32" height="32" view-box="0 0 32 32" fill="none">
        <icon-stroked-arrow />
      </base-icon>
      <span>{{ title }}</span>
    </router-link>
    <div v-else class="row view-title">
      <span>{{ title }}</span>
    </div>
    <Profile />
  </div>
</template>

<script>
import Profile from "./Profile";
import BaseIcon from "./BaseIcon";
import IconStrokedArrow from "./icons/IconStrokedArrow";

export default {
  components: {
    Profile,
    BaseIcon,
    IconStrokedArrow,
  },
  props: {
    title: {
      type: String,
      default: "",
    },
    isLink: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
