<template>
  <label class="label">
    <span class="label-title">{{ label }}</span>
    <div class="align-top inputs">
      <div class="input">
        <input
          :type="showPass ? 'text' : type"
          :value="value"
          @input="onInput"
          v-mask="mask"
          :placeholder="placeholder"
        />
        <div
          v-if="type === 'password'"
          class="input-icon"
          @click="showPass = !showPass"
        >
          <base-icon width="20" height="20" view-box="0 0 20 20">
            <icon-eye />
          </base-icon>
        </div>
      </div>
    </div>
  </label>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconEye from "./icons/IconEye";

export default {
  components: { BaseIcon, IconEye },
  props: {
    label: {
      type: String,
      default: "",
    },
    mask: {
      type: [String, Array],
      default: "",
    },
    value: {
      type: [String, Number],
      default: "",
    },
    placeholder: {
      type: String,
      default: "",
    },
    type: {
      type: String,
      default: "text",
    },
  },
  data() {
    return {
      showPass: false,
    };
  },
  methods: {
    onInput(e) {
      const { value } = e.target;
      this.$emit("input", value);
    },
  },
};
</script>
