<template>
  <router-link to="/" class="align-center logo">
    <base-icon width="40" height="40" view-box="0 0 40 40">
      <icon-logo />
    </base-icon>
    <span class="logo-name">Агроцифра</span>
  </router-link>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconLogo from "./icons/IconLogo";
export default {
  components: {
    BaseIcon,
    IconLogo,
  },
};
</script>
