<template>
  <div class="navbar">
    <div class="navbar-top">
      <Logo />

      <nav class="nav">
        <router-link to="/" class="align-center nav-link">
          <base-icon width="24" height="25" viewBox="0 0 24 25">
            <icon-grid />
          </base-icon>
          <span>Главная</span>
        </router-link>
        <router-link to="/documents" class="align-center nav-link">
          <base-icon width="24" height="25" viewBox="0 0 24 25">
            <icon-document />
          </base-icon>
          <span>Документы</span>
        </router-link>
        <router-link to="/login" class="align-center nav-link">
          <base-icon width="24" height="25" viewBox="0 0 24 25">
            <icon-document />
          </base-icon>
          <span>Войти</span>
        </router-link>
        <router-link to="/steps" class="align-center nav-link">
          <base-icon width="24" height="25" viewBox="0 0 24 25">
            <icon-document />
          </base-icon>
          <span>Шаги</span>
        </router-link>
      </nav>
    </div>

    <div class="navbar-bottom">
      <nav class="nav">
        <router-link to="/chat" class="align-center nav-link">
          <base-icon width="24" height="25" viewBox="0 0 24 25">
            <icon-chat />
          </base-icon>
          <span>Чат с аналитиком</span>
        </router-link>
      </nav>
    </div>
  </div>
</template>

<script>
import Logo from "./Logo";
import BaseIcon from "./BaseIcon";
import IconGrid from "./icons/IconGrid";
import IconDocument from "./icons/IconDocument";
import IconChat from "./icons/IconChat";
export default {
  components: {
    Logo,
    BaseIcon,
    IconGrid,
    IconDocument,
    IconChat,
  },
};
</script>
