<template>
  <div class="align-center pagination">
    <a href="#" class="btn" @click.prevent="nextPage">{{ buttonText }}</a>
    <div class="pagination-step">Шаг {{ activePage }} из 3</div>
  </div>
</template>

<script>
export default {
  props: {
    activePage: {
      type: [String, Number],
      default: 1,
    },
  },
  data() {
    return {
      buttonText: "Далее",
    };
  },
  methods: {
    nextPage() {
      if (this.activePage === 2) {
        this.buttonText = "Скачать PDF";
      } else if (this.activePage === 3) {
        return;
      }
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
      this.$emit("changePage", this.activePage + 1);
    },
  },
};
</script>
