<template>
  <div class="popover">
    <div class="popover-head">Здравствуйте Иванов Иван Иванович!</div>
    <div class="popover-text">
      Мы можем загрузить часть ваших данных из открытых источников. Такие как:
      ФИО, сканы документов, и тд.
    </div>
    <div class="align-center popover-buttons">
      <button class="btn">Загрузить данные</button>
      <button class="btn btn-black">Нет, спасибо</button>
    </div>
  </div>
</template>

<script>
export default {};
</script>
