<template>
  <div class="align-center profile">
    <div class="profile-data">
      <div class="profile-email">ivan.ivanov@gmail.com</div>
      <div class="profile-id">ID 282840</div>
    </div>
    <div class="align-center profile-image">
      <!-- <img src="" alt=""> v-if="image" -->
      <base-icon width="24" height="24" viewBox="0 0 24 24">
        <icon-user />
      </base-icon>
    </div>
  </div>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconUser from "./icons/IconUser";
export default {
  components: {
    BaseIcon,
    IconUser,
  },
};
</script>
