<template>
  <div class="overlay" v-if="show" @click.self="closeModal">
    <div class="modal">
      <div class="align-center">
        <div class="modal-icon">
          <base-icon fill="none">
            <icon-save />
          </base-icon>
        </div>
        <div class="modal-close">
          <base-icon fill="none">
            <icon-close />
          </base-icon>
        </div>
      </div>
      <div class="modal-title">
        Вы хотите сохранить текущий документ «Справка фин.состояния»?
      </div>
      <slot name="buttons"></slot>
    </div>
  </div>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconSave from "./icons/IconSave";
import IconClose from "./icons/IconClose";

export default {
  components: { BaseIcon, IconSave, IconClose },
  data() {
    return {
      show: false,
    };
  },
  methods: {
    openModal() {
      this.show = true;
      const wd = window.innerWidth - 17;
      document.body.classList.add("no-scroll");
      document.body.style.width = wd + "px";
    },
    closeModal() {
      this.show = false;
      document.body.classList.remove("no-scroll");
    },
  },
};
</script>
