<template>
  <div class="status">
    <div v-if="status === 'load'" class="align-center status-load">
      <base-icon width="20" height="20" view-box="0 0 20 20">
        <icon-status-load />
      </base-icon>
      <span>В обработке</span>
    </div>
    <div v-else-if="status === 'ready'" class="align-center status-ready">
      <base-icon width="20" height="20" view-box="0 0 20 20">
        <icon-status-success />
      </base-icon>
      <span>Готово</span>
    </div>
    <div v-else-if="status === 'error'" class="align-center status-error">
      <base-icon width="20" height="20" view-box="0 0 20 20">
        <icon-status-error />
      </base-icon>
      <span>Отказ</span>
    </div>
    <div v-else class="align-center status-draft">
      <base-icon width="20" height="20" view-box="0 0 20 20">
        <icon-status-draft />
      </base-icon>
      <span>Черновик</span>
    </div>
  </div>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconStatusLoad from "./icons/IconStatusLoad";
import IconStatusSuccess from "./icons/IconStatusSuccess";
import IconStatusError from "./icons/IconStatusError";
import IconStatusDraft from "./icons/IconStatusDraft";

export default {
  components: {
    BaseIcon,
    IconStatusLoad,
    IconStatusSuccess,
    IconStatusError,
    IconStatusDraft,
  },
  props: {
    status: {
      type: String,
      default: "load",
    },
  },
};
</script>
