<template>
  <div class="page-section">
    <h3 class="page-subtitle">{{ title }}</h3>

    <table>
      <thead>
        <tr>
          <th class="nums" v-if="showNums">#</th>
          <th
            v-for="(head, index) in headers"
            :key="index"
            :style="{ width: head.width + 'px' }"
          >
            <span>{{ head.title }}</span>
            <span class="info" v-if="head.info">
              <base-icon width="18" height="18" viewBox="0 0 18 18">
                <icon-info />
              </base-icon>
              <span class="info-text">
                {{ head.info }}
              </span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, idx) in localRow" :key="idx">
          <td class="nums" v-if="showNums">{{ idx + 1 }}</td>
          <td
            v-for="(td, index) in headers"
            :key="index"
            :style="{ width: td.width + 'px' }"
          >
            <input type="text" :placeholder="td.placeholder" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="result" v-if="result"><span>Итого:</span> <b>0 Руб.</b></div>
    <button v-if="buttonTitle" class="add" @click="pushData">
      {{ buttonTitle }}
    </button>
  </div>
</template>

<script>
import BaseIcon from "./BaseIcon";
import IconInfo from "./icons/IconInfo";

export default {
  components: { BaseIcon, IconInfo },
  props: {
    title: {
      type: String,
      default: "",
    },
    headers: {
      type: [Array, Object],
      default() {
        return [];
      },
    },
    rows: {
      type: [Array, Object],
      default() {
        return [];
      },
    },
    buttonTitle: {
      type: String,
      default: "",
    },
    result: {
      type: Boolean,
      default: false,
    },
    showNums: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      localRow: [{}],
    };
  },
  methods: {
    pushData() {
      this.localRow.push({});
    },
  },
};
</script>
