<template>
  <label class="label">
    <span class="label-title">{{ label }}</span>
    <div class="align-top inputs">
      <div class="input" :class="classes">
        <textarea type="text" :value="value" @input="onInput" v-mask="mask" />
      </div>
    </div>
  </label>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: "",
    },
    mask: {
      type: [String, Array],
      default: "",
    },
    value: {
      type: [String, Number],
      default: "",
    },
    classes: {
      type: [String, Array],
      default: "",
    },
  },
  methods: {
    onInput(e) {
      const { value } = e.target;
      this.$emit("input", value);
    },
  },
};
</script>
