<template functional>
  <g>
    <path
      d="M8 8H40C42.2 8 44 9.8 44 12V36C44 38.2 42.2 40 40 40H8C5.8 40 4 38.2 4 36V12C4 9.8 5.8 8 8 8Z"
      stroke="#42AB44"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M44 12L24 26L4 12"
      stroke="#42AB44"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
