<template functional>
  <g>
    <path
      d="M10 3.5H3V10.5H10V3.5Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M21 3.5H14V10.5H21V3.5Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M21 14.5H14V21.5H21V14.5Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M10 14.5H3V21.5H10V14.5Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
