<template functional>
  <g>
    <path
      d="M13.5 6C13.5 4.80653 13.0259 3.66193 12.182 2.81802C11.3381 1.97411 10.1935 1.5 9 1.5C7.80653 1.5 6.66193 1.97411 5.81802 2.81802C4.97411 3.66193 4.5 4.80653 4.5 6C4.5 11.25 2.25 12.75 2.25 12.75H15.75C15.75 12.75 13.5 11.25 13.5 6Z"
      stroke="#1C1C1C"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M10.2974 15.75C10.1655 15.9773 9.97627 16.166 9.74856 16.2971C9.52085 16.4283 9.26268 16.4973 8.99989 16.4973C8.73711 16.4973 8.47893 16.4283 8.25122 16.2971C8.02351 16.166 7.83425 15.9773 7.70239 15.75"
      stroke="#1C1C1C"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
