<template functional>
  <g>
    <path
      d="M14 2.5H6C5.46957 2.5 4.96086 2.71071 4.58579 3.08579C4.21071 3.46086 4 3.96957 4 4.5V20.5C4 21.0304 4.21071 21.5391 4.58579 21.9142C4.96086 22.2893 5.46957 22.5 6 22.5H18C18.5304 22.5 19.0391 22.2893 19.4142 21.9142C19.7893 21.5391 20 21.0304 20 20.5V8.5L14 2.5Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path d="M14 2.5V8.5H20" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M9 15.5H15" stroke-linecap="round" stroke-linejoin="round" />
  </g>
</template>
