<template functional>
  <g>
    <circle cx="20" cy="20" r="20" fill="#42AB44" />
    <path
      d="M26.5 22.6667C26.5 26.1645 23.5899 29 20 29C16.4101 29 13.5 26.1645 13.5 22.6667C13.5 18.2539 18.4304 11.9196 19.7031 10.358C19.8583 10.1676 20.1417 10.1676 20.2969 10.358C21.5696 11.9196 26.5 18.2539 26.5 22.6667Z"
      fill="white"
    />
  </g>
</template>
