<template functional>
  <g>
    <path
      d="M9 16C12.3137 16 15 13.3137 15 10C15 6.68629 12.3137 4 9 4C5.68629 4 3 6.68629 3 10C3 13.3137 5.68629 16 9 16Z"
      stroke="#B9BCC1"
      stroke-width="1.3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M9 12.4V10"
      stroke="#B9BCC1"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M9 7.59985H9.0075"
      stroke="#B9BCC1"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
