<template functional>
  <g>
    <path
      d="M1.83496 9.9997C1.83496 9.9997 4.80405 4.06152 9.99996 4.06152C15.1959 4.06152 18.165 9.9997 18.165 9.9997C18.165 9.9997 15.1959 15.9379 9.99996 15.9379C4.80405 15.9379 1.83496 9.9997 1.83496 9.9997Z"
      stroke="#CCCCCC"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M9.99995 12.2266C11.2298 12.2266 12.2268 11.2296 12.2268 9.99977C12.2268 8.76993 11.2298 7.77295 9.99995 7.77295C8.77011 7.77295 7.77313 8.76993 7.77313 9.99977C7.77313 11.2296 8.77011 12.2266 9.99995 12.2266Z"
      stroke="#CCCCCC"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
