<template>
  <div class="documents-table">
    <table>
      <thead>
        <tr>
          <th>№ заявки</th>
          <th>Документ</th>
          <th>ИНН</th>
          <th>ОТрасль</th>
          <th>Статус заявки</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <table-row v-for="row in rows" :key="row.id" :info="row" />
      </tbody>
    </table>
  </div>
</template>

<script>
import tableRow from "./tableRow";
export default {
  components: { tableRow },
  computed: {
    rows() {
      return [
        {
          id: 7514,
          name: "Справка фин.состояния",
          inn: "**** **** 4282",
          type: "Животноводство",
          status: "load",
        },
        {
          id: 7506,
          name: "Справка фин.состояния",
          inn: "**** **** 4282",
          type: "Растениеводство",
          status: "ready",
        },
        {
          id: 7492,
          name: "Справка фин.состояния",
          inn: "**** **** 4282",
          type: "Птицеводство",
          status: "error",
        },
        {
          id: 7488,
          name: "Справка фин.состояния",
          inn: "**** **** 4282",
          type: "Птицеводство",
          status: "draft",
        },
      ];
    },
  },
};
</script>
