<template>
  <tr>
    <td>{{ info.id }}</td>
    <td>{{ info.name }}</td>
    <td>{{ info.inn }}</td>
    <td>{{ info.type }}</td>
    <td>
      <statuses :status="info.status" />
    </td>
    <td>
      <a
        href="#"
        class="table-link"
        :class="{ active: info.status === 'ready' }"
      >
        Скачать PDF
      </a>
    </td>
    <td style="cursor: pointer" @click="open">
      <base-icon>
        <icon-dots />
      </base-icon>
    </td>
  </tr>
</template>

<script>
import BaseIcon from "../BaseIcon";
import IconDots from "../icons/IconDots";
import Statuses from "../Statuses";

export default {
  components: { BaseIcon, IconDots, Statuses },
  props: {
    info: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    open() {
      console.log(123);
    },
  },
};
</script>
