@import "fonts";
@import "normalize";
@import "vars";

.wrapper {
  max-width: 1030px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 136px;
  padding-top: 32px;
  background: #F5F7F9;

  &-steps {
    height: 168px;
  }
}

.logo {
  &-name {
    margin-left: 16px;
    .bold();
    font-size: 24px;
    line-height: 132%;
  }
}

.main {
  padding: 56px 0;

  &-left {
    max-width: 405px;
  }

  .text {
    margin-top: 32px;
  }

  &-right {
    margin-left: auto;
    max-width: 320px;
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .check {
    margin-bottom: 32px;
  }
}

.title {
  .extra();
  font-size: 40px;
  line-height: 112%;
}

.text {
  .medium();
  font-size: 18px;
  line-height: 140%;
  color: #A6A6A6;

  p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.btn {
  background: @green;
  padding: 13px 16px;
  border-radius: 8px;
  .sb();
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: @light;

  &-black {
    background: rgba(255, 255, 255, 0.1);
  }

  &-gray {
    background: #F0F1F2;
    color: @dark;
  }

  &.full {
    width: 100%;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.label {
  display: block;
  margin: 0 10px 24px 10px;
  position: relative;

  &.full {
    width: calc(100% - 20px);
  }

  &.half {
    width: calc(100% / 2 - 20px);
  }

  &.three {
    width: calc(100% / 3 - 20px);
  }

  &-title {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 132%;
  }
}

.inputs {
  margin: 0 -10px;
}

.input {
  margin: 0 10px;
  width: 100%;
  position: relative;

  input, textarea {
    width: 100%;
    padding: 14px 42px 14px 16px;
    background: @light;
    border: 1px solid #D5D7D9;
    border-radius: 4px;
    .reg();
    font-size: 16px;
    line-height: 124%;

    &::-webkit-input-placeholder {
      color: #CCCCCC;
    }

    &::-moz-placeholder {
      color: #CCCCCC;
    }

    &:-moz-placeholder {
      color: #CCCCCC;
    }

    &:-ms-input-placeholder {
      color: #CCCCCC;
    }
  }

  textarea {
    min-height: 88px;
    resize: none;
  }

  &-icon {
    position: absolute;
    top: 14px;
    right: 16px;
    cursor: pointer;

    svg {
      fill: none;
    }
  }
}

.select {
  width: 100%;

  .vs__dropdown-toggle {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #F0F1F2;
    border-radius: 4px;
    border: none;
    float: none;
    font-size: 16px;
    color: @dark;
  }

  .vs__open-indicator {
    fill: none;
  }

  .vs--single.vs--open .vs__selected {
    position: relative;
  }

  .vs__selected {
    padding: 0 16px;
  }

  .vs__actions {
    padding: 4px 16px 0 3px;
  }
}

.footer {
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.copy {
  font-size: 16px;
  line-height: 132%;
  color: #B9BCC1;
}

.check {
  cursor: pointer;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .check-box {
      background: @green;
      border: 1px solid @green;
    }
  }

  &-box {
    justify-content: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: @light;
    border: 1px solid #D5D7D9;
    border-radius: 4px;
    flex-shrink: 0;

    &::after {
      content: url('../images/check.svg');
    }
  }

  &-text {
    font-size: 14px;
    line-height: 140%;

    a {
      border-bottom: 1px solid #F0F1F2;
    }
  }
}

.steps {
  margin-left: auto;
}

.step {
  max-width: 170px;
  width: 100%;
  padding-right: 26px;
  flex-shrink: 0;
  position: relative;

  &:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 40px;
      border-bottom: 2px dotted #CCCCCC;
      width: calc(100% - 60px);
    }
  }

  &.active {
    .step-num {
      border: 2px solid @green;
    }
  }

  &.finished {
    .step-num {
      background: @green;
      border: 2px solid @green;
      color: @light;
    }

    &::after {
      border-bottom: 2px dotted @green;
    }
  }

  &-num {
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #D5D7D9;
    flex-shrink: 0;
    .medium();
    font-size: 14px;
    line-height: 132%;
  }

  &-text {
    margin-top: 16px;
    .medium();
    font-size: 14px;
    line-height: 132%;
  }
}

.popover {
  position: absolute;
  width: 360px;
  left: 50%;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  padding: 20px 20px 24px;
  background: @dark;
  border-radius: 8px;
  z-index: 2;
  color: @light;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    border: 30px solid transparent;
    border-bottom: 20px solid @dark;
  }

  &-head {
    .bold();
    line-height: 140%;
  }

  &-text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 140%;
  }

  &-buttons {
    margin-top: 24px;
  }

  .btn {
    margin-right: 12px;
    padding: 6px 12px;
    width: auto;
    font-size: 14px;
    border-radius: 4px;
  }
}

.page {
  padding: 56px 0;

  &-title {
    .bold();
    font-size: 32px;
    line-height: 112%;
  }

  &-subtitle {
    .bold();
    font-size: 16px;
    line-height: 140%;

    span {
      color: #B9BCC1;
    }
  }

  &-section {
    margin-top: 48px;
  }

  table {
    width: 100%;
    margin-top: 12px;

    input {
      width: 100%;
      .reg();
      font-size: 16px;
      line-height: 124%;
      color: @dark;

      &::-webkit-input-placeholder {
        color: #CCCCCC;
      }

      &::-moz-placeholder {
        color: #CCCCCC;
      }

      &:-moz-placeholder {
        color: #CCCCCC;
      }

      &:-ms-input-placeholder {
        color: #CCCCCC;
      }
    }
  }

  th, td {
    padding: 14px 12px;
    vertical-align: middle;
    text-align: left;
    min-width: 48px;

    &.nums {
      width: 48px;
    }

    &.month {
      width: 125px;
    }
  }

  th {
    .reg();
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;

    svg {
      fill: none;
      margin: 0 0 -4px 0;
    }
  }

  td {
    border: 1px solid #D5D7D9;
  }

  .add {
    display: block;
    margin-top: -1px;
    width: calc(100% + 1px);
    padding: 11px 16px;
    background: #F0F1F2;
    border: 1px solid #D5D7D9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    line-height: 132%;
  }

  .info {
    position: relative;
    cursor: pointer;
    margin-left: 4px;

    &:hover {
      .info-text {
        display: block;
      }
    }

    &-text {
      display: none;
      position: absolute;
      width: 360px;
      left: 50%;
      top: calc(100% + 10px);
      transform: translateX(-50%);
      padding: 20px 20px 24px;
      background: @dark;
      border-radius: 8px;
      z-index: 2;
      font-size: 14px;
      line-height: 140%;
      color: @light;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -35px;
        border: 30px solid transparent;
        border-bottom: 20px solid @dark;
      }
    }
  }

  .result {
    width: calc(100% + 1px);
    text-align: right;
    padding: 9px 16px;
    border-left: 1px solid #D5D7D9;
    border-right: 1px solid #D5D7D9;
    .bold();
    font-size: 16px;
    line-height: 140%;
    color: #B9BCC1;

    b {
      color: @dark;
    }
  }

  &-inputs {
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &-row {
    margin: 24px -10px 0 -10px;

    .input {
      width: 100%;
    }
  }

  &-column {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;

    .text {
      margin: 0 10px;
      .reg();
      font-size: 14px;
      line-height: 132%;
      color: #B9BCC1;
    }

    &.page-half {
      width: calc(100% / 2 - 20px);

      & > h3 {
        .bold();
        font-size: 16px;
        line-height: 140%;
      }

      .label {
        display: flex;
        align-items: center;
        margin: 20px 0 24px 0;

        &.full {
          width: calc(100% - 80px);
        }
      }

      .label-title, .page-left {
        width: 170px;
        margin-right: 10px;
        margin-bottom: 0;
        flex-shrink: 0;
      }

      .page-left {
        .bold();
        line-height: 140%;
        color: #B9BCC1;
      }

      .page-right {
        .bold();
        line-height: 140%;
        color: @dark;
      }

      .inputs {
        width: 100%;
      }
    }
  }

  .checks {
    margin-top: 48px;
  }

  .check {
    margin-top: 16px;
  }
}

.pagination {
  margin: 80px 0 60px 0;

  .btn {
    width: 235px;
    padding: 13px 16px;
  }

  &-step {
    margin-left: 24px;
    font-size: 16px;
    line-height: 132%;
    color: #B9BCC1;
  }
}

.file {
  display: block;
  width: 100%;
  margin: 0 10px 16px 10px;
  cursor: pointer;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &-custom {
    justify-content: center;
    padding: 14px 16px;
    width: 100%;
    background: #F0F1F2;
    border-radius: 8px;
    .sb();
    font-size: 16px;
    line-height: 124%;
  }

  &-name {
    justify-content: space-between;
    margin-top: 6px;
    font-size: 12px;
    .medium();
  }

  svg {
    fill: none;
    margin-right: 12px;
  }
}

.tables {
  justify-content: space-between;

  .page-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
  }
}

.variants {

}

.variant {
  font-size: 14px;
  line-height: 132%;
  margin-bottom: 16px;

  span {
    color: @green;
  }
}

.auth {
  &-wrap {
    min-height: 100vh;
    padding: 32px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-header {
    justify-content: center;
  }

  &-center {
    margin: 30px 0;
  }

  &-title {
    margin-bottom: 40px;

    h3 {
      .extra();
      font-size: 40px;
      line-height: 112%;
      text-align: center;
    }

    p {
      max-width: 320px;
      margin: 18px auto;
      line-height: 124%;
      text-align: center;
    }
  }

  &-form {
    max-width: 320px;
    margin: 0 auto;

    .label {
      margin: 0 0 24px 0;
    }

    &-link {
      display: inline-block;
      margin-left: auto;
      color: @dark;
      font-size: 14px;
      line-height: 140%;
      border-bottom: 1px solid #E6E6E6;
    }

    .btn {
      width: 100%;
      margin-top: 32px;
    }
  }

  &-reg {
    margin-top: 24px;
    font-size: 14px;
    line-height: 140%;

    span {
      display: inline-block;
      margin-right: 4px;
    }

    a {
      color: @green;
    }
  }

  &-back {
    justify-content: center;
    margin-bottom: 12px;
    .medium();
    font-size: 14px;
    line-height: 140%;
    color: #B9BCC1;

    svg {
      margin-right: 4px;
      fill: none;
    }
  }

  &-bottom {
    text-align: center;
    line-height: 132%;
    color: #B9BCC1;
  }

  &-rule {
    .medium();
    font-size: 14px;
    line-height: 140%;
    color: #A6A6A6;
    margin-bottom: 8px;

    svg {
      margin-right: 6px;
      fill: none;
    }
  }

  &-politic {
    margin-top: 24px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #A6A6A6;

    a {
      color: @dark;
      border-bottom: 1px solid #E6E6E6;
    }
  }

  &-success {
    margin: 0 auto;
    max-width: 320px;
    text-align: center;

    & > svg {
      fill: none;
    }

    .auth-text {
      margin-top: 24px;
      line-height: 124%;
    }

    .btn {
      margin-top: 32px;
      width: 100%;
    }
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 280px;
  max-height: 100vh;
  padding: 40px 32px;
  flex-shrink: 0;
  background: #F5F7F9;
}

.nav {
  margin-top: 60px;

  &-link {
    padding: 12px 0;
    .medium();
    font-size: 18px;
    line-height: 140%;

    &.router-link-exact-active {
      color: @green;

      svg {
        stroke: @green;
      }
    }

    svg {
      fill: none;
      stroke: @dark;
      stroke-width: 2;
      margin-right: 20px;
    }
  }
}

.view {
  padding: 40px 80px;
  min-height: 100vh;
  width: 100%;

  &-title {
    .bold();
    font-size: 24px;
    line-height: 132%;

    svg {
      margin-right: 16px;
    }
  }

  &-body {
    margin-top: 32px;
  }

  &-main {
    background: #F5F7F9;
    width: 100%;
    height: 500px;
    margin-right: 48px;
  }

  .auth-bottom {
    text-align: left;
    padding-top: 50px;
  }
}

.profile {
  justify-content: flex-end;
  text-align: right;
  padding: 10px;
  margin: -10px 0 -10px auto;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #E6E6E6;
  }

  &-email {
    .medium();
    line-height: 140%;
  }

  &-id {
    font-size: 14px;
    line-height: 140%;
    color: #B9BCC1;
  }

  &-image {
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #F5F7F9;
    flex-shrink: 0;
    margin-left: 16px;

    img {
      border-radius: 50%;
    }

    svg {
      fill: none;
    }
  }
}

.alerts {
  width: 340px;
  flex-shrink: 0;
  margin-left: auto;

  &-head {
    margin-bottom: 4px;
    background: #F5F7F9;
    border-radius: 8px 8px 0px 0px;
    padding: 16px 20px;
    line-height: 140%;
    .bold();

    svg {
      fill: none;
      margin-right: 16px;
    }
  }
}

.alert {
  margin-bottom: 4px;
  background: #F5F7F9;
  padding: 16px 20px;
  cursor: pointer;

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &-title {
    .medium();
    line-height: 140%;
  }

  &-date {
    margin-top: 8px;
    font-size: 14px;
    line-height: 132%;
    color: #B9BCC1;
  }
}

.documents {
  margin-top: 28px;

  &-create {
    position: relative;

    .popover {
      padding: 8px 4px;
      width: 320px;

      &::after {
        border: 20px solid transparent;
        border-bottom: 15px solid #1C1C1C;
        top: -27px;
      }
    }

    .link {
      display: block;
      margin: 1px 0;
      padding: 8px 12px;
      white-space: nowrap;
      border-radius: 4px;
      line-height: 124%;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  table {
    width: 100%;
  }

  tr {
    border-bottom: 1px solid #E1E3E5;
  }

  tbody {
    tr {
      &:hover {
        background: #F5F7F9;
      }
    }
  }

  th, td {
    text-align: left;
    vertical-align: middle;
  }

  th {
    padding: 12px 5px;
    .medium();
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #B9BCC1;
  }

  td {
    padding: 16px 5px;
    font-size: 16px;
    line-height: 124%;
  }

  .table-link {
    .medium();
    line-height: 124%;
    color: #B9BCC1;

    &.active {
      color: @green;
    }

    &:hover {
      color: @green;
    }
  }
}

.status {
  svg {
    margin-right: 8px;
    fill: none;
  }
}

.doc {
  max-width: 510px;
  padding-top: 16px;

  .text {
    margin-top: 16px;
    max-width: 340px;
  }

  .main-form {
    max-width: 320px;
    margin-top: 48px;
  }

  .btn {
    margin-top: 32px;
  }
}

.bread {
  margin-top: 48px;
  padding: 10px 12px;
  border: 1px solid #E1E3E6;
  border-radius: 4px;

  &-links {
    margin-right: 50px;
  }

  &-link {
    .medium();
    font-size: 14px;
    line-height: 140%;
    color: #B9BCC1;
    cursor: pointer;

    &:not(:last-child) {
      &::after {
        content: url('../images/arrow-right.svg');
        display: block;
        width: 16px;
        height: 16px;
        margin: 0 8px;
        pointer-events: none;
        cursor: default;
      }
    }

    &.active {
      color: @dark;
    }
  }

  .save {
    .medium();
    font-size: 14px;
    line-height: 140%;
    color: @green;
    margin-left: auto;
    flex-shrink: 0;
  }
}


.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
  overflow-y: auto;
}

.modal {
  max-width: 360px;
  position: relative;
  background: @light;
  z-index: 11;
  padding: 24px;

  &-title {
    margin-top: 16px;
    .bold();
    line-height: 140%;
  }

  &-close {
    margin-left: auto;
    cursor: pointer;
  }

  &-buttons {
    margin-top: 32px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 14px;
    margin-right: 12px;
    border-radius: 4px;
  }
}
